@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: "Manrope", sans-serif;
  background: var(--background);
  color: var(--foreground);
  font-weight: 550;
}

header {
  background-color: var(--background);
  color: var(--foreground);
}

@layer utilities {
  .btn-light-sm {
    @apply inline-flex items-center justify-center gap-1 hover:gap-1 font-bold rounded-full border-2 border-white bg-orange-500/10 hover:bg-orange-500/20 px-4 py-2 text-[12px] text-orange-500 cursor-pointer transition-all w-fit hover:scale-105 duration-500;
  }
  .btn-light-base {
    @apply inline-flex items-center justify-center gap-2 hover:gap-4 font-bold rounded-full border-2 border-white bg-gray-100 hover:bg-gray-200 px-6 py-3 text-sm text-black/80 hover:text-black cursor-pointer transition-all w-full hover:scale-105 duration-500;
  }
  .btn-light-outline {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold rounded-full border-2 border-orange-500/30 bg-white/40 hover:bg-white px-10 py-3.5 text-sm text-black hover:text-black/80 cursor-pointer transition-all hover:scale-105 w-full duration-500;
  }
  .btn-light-glass {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold rounded-full border-2 border-white/15 bg-black/5 hover:bg-orange-500/5 px-6 py-3 text-sm lg:text-[13px] text-black hover:text-orange-500 cursor-pointer transition-all hover:scale-105 duration-700 w-full max-w-3xl mx-auto;
  }
  .btn-orange-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-bold rounded-full border-2 border-white/15 bg-orange-500 hover:bg-orange-600/80 px-6 py-2.5 text-sm text-white cursor-pointer transition-all hover:scale-105 w-full duration-500;
  }
  .btn-orange-base {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 font-bold rounded-full border-2 border-white/15 bg-orange-500 hover:bg-orange-600 px-8 py-3 text-sm text-white cursor-pointer transition-all hover:scale-105 w-full lg:w-fit duration-500;
  }
  .btn-orange-outline {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 relative font-bold rounded-full border-2 border-orange-500 hover:border-orange-400/80 bg-orange-500/10 hover:bg-orange-500 px-8 py-3 text-sm hover:shadow-xs transition-all text-orange-500 hover:text-white duration-300 hover:scale-105 w-full md:w-fit;
  }
  .btn-dark-sm {
    @apply inline-flex items-center justify-center gap-2 hover:gap-3 relative font-bold rounded-full border-2 border-white/15 bg-black/90 hover:bg-black px-6 py-2.5 text-sm text-white cursor-pointer transition-all duration-300 hover:scale-105 z-10 w-full;
  }
  .btn-dark-base {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold rounded-full border-2 border-white/15 bg-black hover:bg-black/90 px-8 py-3 text-sm text-white hover:text-white/80 cursor-pointer transition-all hover:scale-105 w-full duration-500;
  }
  .btn-dark-underline {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold hover:font-extrabold rounded-xs border-b-4 border-black/80 pr-3 py-2 hover:px-3 text-sm 2xl:text-base text-black/90 cursor-pointer transition-all hover:scale-105 w-fit duration-500;
  }
  .btn-dark-glass {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-semibold rounded-full border border-black/5 bg-orange-600/15 hover:bg-orange-600/20 px-3 py-3 text-sm lg:text-[14px] text-gray-800 lg:text-white hover:text-orange-500 cursor-pointer transition-all hover:scale-105 w-fit duration-700;
  }
  .btn-dark-outline {
    @apply inline-flex items-center justify-center gap-3 hover:gap-4 font-bold rounded-full border-2 border-none bg-black/5 hover:bg-black/10 px-6 py-2.5 text-black text-sm cursor-pointer transition-all hover:scale-105 w-full md:w-fit duration-500;
  }
}
